{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <a href="{% url 'home' %}"><Button>Home</Button></a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"><Button>LOGOUT - {{ user.username }}</Button></a>
    {% else %}
        <a href="{% url 'register' %}"><button>REGISTER</button></a>
        <a href="{% url 'login' %}"><button>LOGIN</button></a>
    {% endif %}
    <hr>
</head>
<body>
    {% block content %}{% endblock %}
</body>
<footer>
    <hr>
    <ul>
        <li>Home</li>
        <li>Contact</li>
        <li>+37444355225</li>
        <li>test@gmail.com</li>
    </ul>
</footer>

</html>